annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.14"
build==1.2.2.post1 ; python_version >= "3.10" and python_version < "3.14"
cachecontrol[filecache]==0.14.1 ; python_version >= "3.10" and python_version < "3.14"
certifi==2024.12.14 ; python_version >= "3.10" and python_version < "3.14"
cffi==1.17.1 ; python_version >= "3.10" and python_version < "3.14"
charset-normalizer==3.4.1 ; python_version >= "3.10" and python_version < "3.14"
cleo==2.1.0 ; python_version >= "3.10" and python_version < "3.14"
click==8.1.8 ; python_version >= "3.10" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.14" and (platform_system == "Windows" or os_name == "nt")
crashtest==0.4.1 ; python_version >= "3.10" and python_version < "3.14"
cryptography==44.0.0 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "linux"
distlib==0.3.9 ; python_version >= "3.10" and python_version < "3.14"
dulwich==0.21.7 ; python_version >= "3.10" and python_version < "3.14"
fastjsonschema==2.21.1 ; python_version >= "3.10" and python_version < "3.14"
filelock==3.16.1 ; python_version >= "3.10" and python_version < "3.14"
idna==3.10 ; python_version >= "3.10" and python_version < "3.14"
importlib-metadata==8.5.0 ; python_version >= "3.10" and python_version < "3.12"
installer==0.7.0 ; python_version >= "3.10" and python_version < "3.14"
jaraco-classes==3.4.0 ; python_version >= "3.10" and python_version < "3.14"
jeepney==0.8.0 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "linux"
keyring==24.3.1 ; python_version >= "3.10" and python_version < "3.14"
linkify-it-py==2.0.3 ; python_version >= "3.10" and python_version < "3.14"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.14"
markdown-it-py[linkify,plugins]==3.0.0 ; python_version >= "3.10" and python_version < "3.14"
mdit-py-plugins==0.4.2 ; python_version >= "3.10" and python_version < "3.14"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.14"
more-itertools==10.5.0 ; python_version >= "3.10" and python_version < "3.14"
msgpack==1.1.0 ; python_version >= "3.10" and python_version < "3.14"
mutagen==1.47.0 ; python_version >= "3.10" and python_version < "3.14"
nuitka==2.5.9 ; python_version >= "3.10" and python_version < "3.14"
numpy==2.2.1 ; python_version >= "3.10" and python_version < "3.14"
ordered-set==4.1.0 ; python_version >= "3.10" and python_version < "3.14"
packaging==24.2 ; python_version >= "3.10" and python_version < "3.14"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "3.14"
pillow==11.1.0 ; python_version >= "3.10" and python_version < "3.14"
pkginfo==1.12.0 ; python_version >= "3.10" and python_version < "3.14"
platformdirs==4.3.6 ; python_version >= "3.10" and python_version < "3.14"
poetry-core==1.9.1 ; python_version >= "3.10" and python_version < "3.14"
poetry-plugin-export==1.8.0 ; python_version >= "3.10" and python_version < "3.14"
poetry==1.8.5 ; python_version >= "3.10" and python_version < "3.14"
properties-py==1.2.1 ; python_version >= "3.10" and python_version < "3.14"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.14"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.14"
pydantic-core==2.27.2 ; python_version >= "3.10" and python_version < "3.14"
pydantic==2.10.4 ; python_version >= "3.10" and python_version < "3.14"
pygments==2.18.0 ; python_version >= "3.10" and python_version < "3.14"
pyinstaller-builder @ git+https://git.smokeofanarchy.ru/Romanin/pyinstaller-builder.git@3d63bba3352f0844d94a6e33fd6c1b883fb64972 ; python_version >= "3.10" and python_version < "3.14"
pyproject-hooks==1.2.0 ; python_version >= "3.10" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.14"
pywin32-ctypes==0.2.3 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.14"
rapidfuzz==3.11.0 ; python_version >= "3.10" and python_version < "3.14"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "3.14"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.14"
rich-click==1.8.5 ; python_version >= "3.10" and python_version < "3.14"
rich==13.9.4 ; python_version >= "3.10" and python_version < "3.14"
seaplayer-audio @ git+https://github.com/romanin-rf/seaplayer-audio@bac5b0db7f08614818f48796741f059469dc75df ; python_version >= "3.10" and python_version < "3.14"
secretstorage==3.3.3 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "linux"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.14"
sounddevice==0.5.1 ; python_version >= "3.10" and python_version < "3.14"
soundfile==0.12.1 ; python_version >= "3.10" and python_version < "3.14"
textual==1.0.0 ; python_version >= "3.10" and python_version < "3.14"
tomli==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.13.2 ; python_version >= "3.10" and python_version < "3.14"
trove-classifiers==2024.10.21.16 ; python_version >= "3.10" and python_version < "3.14"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "3.14"
uc-micro-py==1.0.3 ; python_version >= "3.10" and python_version < "3.14"
urllib3==2.3.0 ; python_version >= "3.10" and python_version < "3.14"
virtualenv==20.28.1 ; python_version >= "3.10" and python_version < "3.14"
xattr==1.1.0 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "darwin"
zipp==3.21.0 ; python_version >= "3.10" and python_version < "3.12"
zstandard==0.23.0 ; python_version >= "3.10" and python_version < "3.14"
